* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.first-section {
  background: url('/images/heroSectionBackground.png');
  background-position: center;
  background-size: cover;
  color: white;
  min-height: 60vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  height: 60px;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.link {
  gap: 5px;
}

.navbar-menu-container {
  display: flex;
  gap: 20px;
}
.user-icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: solid 1px white;
  align-items: center;
  justify-content: center;
  display: none;
}

.hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(60vh - 60px);
  gap: 32px;
}
.hero-section-logo {
  width: 250px;
  height: auto;
}
.hero-section-title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.hero-section-input-container {
  background: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.input-container-location,
.input-container-search {
  padding: 5px;
  border: none;
  outline: none;
}
.input-container-search {
  width: 65%;
}
.input-container-location {
  width: 35%;
  border-right: 2px solid #e0e0e0;
}

@media only screen and (max-width: 600px) {
  .navbar-menu-container .link {
    display: none;
  }
  .navbar {
    padding: 16px;
  }
  .first-section {
    min-height: 80vh;
  }
  .user-icon {
    display: flex;
  }

  .hero-section-input-container {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
  }
  .input-container-location,
  .input-container-search {
    padding: 15px;
    border-radius: 10px;
    width: 90%;
  }
  .hero-section-container {
    height: calc(80vh - 60px);
  }
  .input-container-location {
    border-radius: none;
  }
}

.container {
  margin: 48px auto;
  width: 80%;
}
.we-offer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.we-offer .card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
  transition: all 200ms ease-in;
}

.we-offer .card img {
  width: 240px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.we-offer .card h2 {
  padding: 10px 10px 0 10px;
  font-size: 20px;
  font-weight: 400;
}

.we-offer .card p {
  font-size: 13px;
  padding: 0 10px 15px 10px;
}
.we-offer .card:hover {
  transform: scale(1.05);
}

/* collections section */

.collections h1 {
  font-weight: 400;
}
.collections .sub-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.sub-heading-container :nth-child(2) {
  color: #ff7e8b;
  font-size: 13px;
}

.collections-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 24px;
}
.collections-card-container .card {
  height: 300px;
  min-width: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.collections .card:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in;

}
.card1 {
  background-image: url('/images/collection1.jpg');
}
.card2 {
  background-image: url('/images/collection2.jpg');
}
.card3 {
  background-image: url('/images/collection3.jpg');
}
.card4 {
  background-image: url('/images/collection4.jpg');
}

.overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 85%
  );
  width: 100%;
  height: 100%;
  display: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.collections-card-container .card {
  position: relative;
}
.collections-card-container .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  font-size: 14px;
}
.content h4 {
  font-weight: 400;
}

/* localities section */

.localities-heading {
  margin: 16px;
  font-weight: 400;
}
.localities .localities-names {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  gap: 16px;
}
.localities .card {
  width: 25%;
  padding: 4px;
  border: solid grey 0.5px;
}
.localities .card h3,
p {
  font-weight: 400;
}

.get-the-app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 251, 247);
  width: 100%;
  padding: 48px 48px;
}
.get-the-app .semiContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.get-the-app .semiContainer .left {
  flex: 2;
}
.get-the-app .semiContainer .left img {
  width: 100%;
  object-fit: cover;
}
.get-the-app .semiContainer .right {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.right h1 {
  font-weight: 500;
  font-size: 32px;
}
.right p {
  font-size: 14px;
}

.semiContainer .right .radio-button-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
.semiContainer .right .radio-button-container div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.semiContainer .right .radio-button-container div input {
  height: 15px;
  width: 15px;
  accent-color: rgb(239, 79, 95);
}

.semiContainer .right .input-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.input-container button,
.input-container input {
  padding: 10px 12px;
}

.input-container input {
  border: 1.5px solid gray;
  outline: none;
  border-radius: 5px;
  flex: auto;
}
.input-container button {
  border: none;
  background-color: rgb(239, 79, 95);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.right .download-app-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.download-app-container h5 {
  font-weight: 400;
  color: grey;
}
.download-app-container div {
  display: flex;
  gap: 16px;
}
.download-app-container div img {
  width: 35%;
}

@media only screen and (max-width: 1300px) {
  .get-the-app .semiContainer .left {
    flex: 1;
  }
  .get-the-app .semiContainer .right {
    flex: 1;
  }
  .get-the-app .semiContainer {
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .get-the-app {
    padding: 2rem;
  }

  .get-the-app .semiContainer {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .get-the-app {
    padding: 3rem 0;
  }
  .get-the-app .semiContainer {
    width: 80%;
    flex-direction: column;
  }
}


/* footer section */

.footer{
  width:100%;
}
.footer-section1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.footer-section1 img{
  width: 120px;
  height: auto;
}
.section1-buttonContainer{
  display: flex;
  gap:16px;
}
.section1-buttonContainer button{
  padding:5px;
  width:90px;
  border:1px solid gray;
  background-color:transparent ;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-container{
  display: grid;
  width:90%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(5,1fr); */
  gap:1rem;
  padding: 48px 0;
}
.link-container{
  display: flex;
  flex-direction: column;
  gap:5px;
}

.link-container h5{
  font-weight: 500;
  font-size: 14px;
  margin-bottom:5px ;
  letter-spacing: 0.8px;
}
.footer-link{
  text-decoration: none;
  color: gray;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.footer-link:hover{
  color:black;
}
.social-links-container{
  display: flex;
  gap:0.5rem;
}
.social-links-container button{
  background-color: black;
  border:none;
  width:25px;
  height:25px;
  border-radius:25px;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}
.social-links-container button i{
  color:white;
  font-size: 13px;
}
.footer-store-logos{
  width: 70%;

}
.footer .disclaimer{
  width:90%;
  margin:auto;
  padding:20px 0;
  font-size: 12px;
  color:gray;
  border-top:1px solid gray;
}

@media only screen and (max-width:900px){
  .navigation-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width:600px){
  .navigation-container{
    grid-template-columns: 1fr 1fr ;
  }
}
@media only screen and (max-width:450px){

  .footer-section1{
    flex-direction: column;
    gap:16px;
    justify-content: flex-start;
    align-items: start;
  } 
  .footer-store-logos{
    width: 75%;
  
  }
}
